<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Добавление транспорта</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header">
</div>
<div class="row">

    <form autocomplete="off" action="#" th:action="@{/transport/add}"
          th:object="${transport}" method="post">

        <input class="formAdd" type="text" th:value="${transport.transportDtoId}"
               id="transportDtoId" name="transportDtoId" hidden>

        <label class="formAdd" for="model">Модель</label>
        <input class="formAdd" type="text" th:value="${transport.model}" id="model" name="model" required>
        <span class="error" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></span><br>

        <label class="formAdd" for="type">Тип траспорта</label>
        <input class="formAdd" type="text" name="type" id="type"
               th:value="${transport.type}" readonly>
        <span class="error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span><br>

        <label class="formAdd" for="seatNum">Кол-во мест</label>
        <input class="formAdd" type="number" th:value="${transport.seatNum}" id="seatNum" name="seatNum"
               min="1" max="999" required>
        <span class="error" th:if="${#fields.hasErrors('seatNum')}" th:errors="*{seatNum}"></span><br>

        <label class="formAdd" for="carNum">Кол-во секций</label>
        <input class="formAdd" type="number" th:field="${transport.carNum}" id="carNum" name="carNum"
               min="1" max="9" required>
        <span class="error" th:if="${#fields.hasErrors('carNum')}" th:errors="*{carNum}"></span><br>

        <label class="formAdd" for="route">Маршрут</label>
        <select class="formAdd" id="route" name="route">
            <option th:each="routeNumber : ${routeNumbers}"
                    th:value="${routeNumber}"
                    th:text="${routeNumber}"
                    th:selected="${transport.route == routeNumber}">
            </option>
        </select><br>

        <input class="formAdd" type="submit" value="Сохранить">
    </form>
</div>
<br style="clear: both;">
<div th:replace="fragments/footer">
</div>
</body>
</html>