<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Добавление транспорта</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header">
</div>
<div class="row">

    <form autocomplete="off" action="#" th:action="@{/transport/add}"
          th:object="${transport}" method="post">

        <label class="formAdd" for="model">Модель</label>
        <input class="formAdd" type="text" th:field="*{model}" id="model" placeholder="Модель" required>
        <span class="error" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></span><br>

        <label class="formAdd" for="type">Тип траспорта</label>
        <input class="formAdd" type="text" name="type" id="type"
               th:value="${transportType.description}" readonly><br>
        <span class="error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span><br>

        <label class="formAdd" for="seatNum">Кол-во мест</label>
        <input class="formAdd" type="number" th:field="*{seatNum}" id="seatNum" placeholder="Кол-во мест"
               min="1" max="999" required>
        <span class="error" th:if="${#fields.hasErrors('seatNum')}" th:errors="*{seatNum}"></span><br>

        <label class="formAdd" for="carNum">Кол-во секций</label>
        <input class="formAdd" type="number" th:field="*{carNum}" id="carNum" placeholder="Кол-во секций"
               min="1" max="9" required>
        <span class="error" th:if="${#fields.hasErrors('carNum')}" th:errors="*{carNum}"></span><br>

        <label class="formAdd" for="route">Маршрут</label>
        <select class="formAdd" id="route" th:field="*{route}" required>
            <option th:each="routeNumber : ${routeNumbers}"
                    th:value="${routeNumber}"
                    th:text="${routeNumber}"></option>
        </select><br>

        <input class="formAdd" type="submit" value="Добавить транспорт">
    </form>
</div>
<br style="clear: both;">
<div th:replace="fragments/footer">
</div>
</body>
</html>