body {
    background-color: #E4F9F5;
    color: #40514E;
    font-family: 'Merriweather', serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.headerMessage {
    position: absolute;
    top: 200px;
    left: 40px;
}

.tdNumber {
    font-size: 30px;
    padding: 10px;
}

.td {
    padding: 10px;
}

.lineTable {
    border-bottom: solid 2px white;
}

.columnMain {
    float: left;
    text-align: center;
    width: 16.66%;
}

.columnRoute {
    float: left;
    width: 33%;
}

.img {
    width: 210px;
    height: 174px;
}

.imgHead {
    width: 1510px;
    height: 297px;
    opacity: 0.2;
}

.divRouteLine {
    border-left: solid 1px white;
}

.routeLineHead {
    text-align: center;
}

.tdRlCenter {
    padding: 10px;
    text-align: center;
    border-right: solid 1px white;
}

.tdRlLeft {
    padding: 10px;
    border-right: solid 1px white;
}

.trRl {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}