<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Общественный транспорт</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header">
</div>
<div class="row">
    <div class="columnMain">
        <a href="/timetable/routes/type/1">
            <img class="img" th:src="@{/image/bus.jpg}" src="#" alt="bus"/>
        </a>
        <p th:text="#{langFullBus}"></p>
    </div>
    <div class="columnMain">
        <a href="/timetable/routes/type/2">
            <img class="img" th:src="@{/image/trolley.jpg}" src="#" alt="trolley"/>
        </a>
        <p th:text="#{langFullTrolley}"></p>
    </div>
    <div class="columnMain">
        <a href="/timetable/routes/type/3">
            <img class="img" th:src="@{/image/tram.jpg}" src="#" alt="tram"/>
        </a>
        <p th:text="#{langFullTram}"></p>
    </div>
    <div class="columnMain">
        <a href="/timetable/stops/all">
            <img class="img" th:src="@{/image/stop.jpg}" src="#" alt="stop"/>
        </a>
        <p th:text="#{langFullStop}"></p>
    </div>
</div>
<br style="clear: both;">
<div th:replace="fragments/footer">
</div>
</body>
</html>