<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Добавление остановки</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header">
</div>
<div class="row">
    <form autocomplete="off" action="#" th:action="@{/route/add/stop}"
          th:object="${routeLine}" method="post">
        <div>
            <label for="stop">Остановка</label>
            <select id="stop" th:field="*{stopDto}">
                <option th:each="stop : ${stops}"
                        th:value="${stop}"
                        th:text="${stop.name}"></option>
            </select>
            <input type="hidden" th:field="routeLineParamDtoId">
            <br>

            <label for="stopOrder">Порядок остановки</label>
            <input type="number" id="stopOrder" min="1" max="99" th:field="*{stopOrder}">
            <br>

            <label for="timePrev">Время до предыдущей остановки</label>
            <input type="number" id="timePrev" min="1" max="99" th:field="*{timePrev}">
            <br>

            <label for="distancePrev">Дистанция до предыдущей остановки</label>
            <input type="number" id="distancePrev" min="1" max="9999" th:field="*{distancePrev}">
            <br>

            <input type="submit" value="Сохранить">
        </div>
    </form>
</div>
</body>
</html>