<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Расписание</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<!--    <script type="text/javascript" th:src="@{/js/action.js}"></script>-->
    <script>
        function routeStop(id) {
            var url = "/route/" + id;
            $('.routeStop').load(url);
        }
    </script>
</head>
<body>
<div class="row">
    <div class="columnRoute">
        <table>
            <tr th:if="${routesNumber.isEmpty()}">
                <td>No Routes available</td>
            </tr>
            <tr th:each="routeNumber : ${routesNumber}" class="lineTable">
                <td class="tdNumber">
                    <span th:text="${routeNumber.number}">Number</span>
                </td>
                <td class="td">
                    <table>
                        <tr th:each="route : ${routeNumber.routesDto}">
                            <td class="td">
                                <a th:onclick="|routeStop(${route.routeDtoId})|" href="#">
                                    <span th:text="${route.description}">Description</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="columnRoute" th:fragment="routeStop">
        <h3 th:text="${routeN}"></h3>
        <p th:text="${descN}"></p>
        <table>
            <tr th:each="stop : ${stops}">
                <td th:text="stop.name"></td>
            </tr>
        </table>
    </div>
    <div class="columnRoute">
        3
    </div>
</div>
</body>
</html>