<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Остановки</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <!--    <script type="text/javascript" th:src="@{/js/action.js}"></script>-->

    <script th:inline="javascript">
        function getStopDetail(stopId) {
            let url = "/timetable/stops/" + stopId + "/stop";
            $("#stopDetail").load(url);
        }
    </script>

</head>
<body>
<div class="header" th:replace="fragments/header">
</div>
<div class="row">
    <div class="columnRoute">
        <table>
            <tr th:each="stop : ${stops}" class="lineTable">
                <td class="td">
                    <a href="#" th:onclick="|getStopDetail(${stop.stopDtoId})|">
                        <span th:text="${stop.name}">Number</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="columnRoute">
        <div class="divRouteLine" th:fragment="stopDetail" id="stopDetail">
            <div class="routeLineHead">
                <p th:if="${stopN != null}">Остановочный пункт</p>
                <h3 th:text="${stopN}"></h3>
            </div>
            <table>
                <tr th:each="routeLines : ${stopDetails}">
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <strong style="padding: 10px">[[${routeLines.key}]]</strong>
                                </td>
                            </tr>
                            <tr class="trRl">
                                <td class="tdRlCenter" style="width: 20px">№</td>
                                <td class="tdRlCenter">Маршрут</td>
                                <td class="tdRlCenter" style="width: 20px">Ближ.</td>
                                <td class="tdRlCenter" style="width: 20px">След.</td>
                            </tr>
                            <tbody>
                            <tr class="trRl" th:each="routeline : ${routeLines.value}">
                                <td class="tdRlCenter" th:text="${routeline.routeNumber}"></td>
                                <td class="tdRlLeft" th:text="${routeline.routeDescription}"></td>
                                <td class="tdRlCenter" th:text="${routeline.closestTime}"></td>
                                <td class="tdRlCenter" th:text="${routeline.nextTime}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>
<br style="clear: both;">
<div th:replace="fragments/footer">
</div>
</body>
</html>