<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Маршруты</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header">
</div>
<div class="row">
    <div class="columnRouteList">
        <table>
            <tr th:if="${routesNumber.isEmpty()}">
                <td>No Routes available</td>
            </tr>
            <tr th:each="routeNumber : ${routesNumber}" class="lineTable">
                <td class="tdNumber">
                    <span th:text="${routeNumber.number}">Number</span>
                </td>
                <td class="td">
                    <table>
                        <tr th:each="route : ${routeNumber.routesDto}">
                            <td class="td">
                                <a href="#" th:href="@{/route/edit(id=${route.routeDtoId})}">
                                    <span th:text="${route.description}">Description</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<br style="clear: both;">
<div class="row" style="margin: 10px">
    <div class="columnList">
        <a class="link_button" th:href="@{/route/new(type=${transportType.transportTypeDtoId})}" th:text="#{dispatcher.add}"></a>
    </div>
    <div class="columnList">
        <a class="link_button" th:href="@{/dispatcher/list(type=${transportType.transportTypeDtoId})}" th:text="#{dispatcher.list}"></a>
    </div>
</div>
<br style="clear: both;">
<div th:replace="fragments/footer">
</div>
</body>
</html>