<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Остановки</title>
  <link th:href="@{/css/main.css}" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header">
</div>
<div>
  <div class="columnRoute">
    <table>
      <tr th:each="stop : ${stops}" class="lineTable">
        <td class="td">
          <a href="#" th:href="@{/stop/edit(id=${stop.stopDtoId})}">
            <span th:text="${stop.name}">Stop</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
<br style="clear: both;">
<br>
<div>
  <a class="link_button" style="margin: 10px" href="/stop/add" th:text="#{dispatcher.add}"></a>
</div>
<br style="clear: both;">
<div th:replace="fragments/footer">
</div>
</body>
</html>