<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Транспортные средства</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header">
</div>
<div class="row">
    <table>
        <tr class="trRl">
            <th class="tdRlCenter">№</th>
            <th class="tdRlCenter">Модель</th>
            <th class="tdRlCenter">Кол-во мест</th>
            <th class="tdRlCenter">Маршрут</th>
            <th class="tdRlCenter"></th>
        </tr>
        <tr class="trRl" th:each="transport, transportStat : ${transports}">
            <td class="tdRlCenter" th:text="${transportStat.count}"></td>
            <td class="tdRlLeft" th:text="${transport.model}"></td>
            <td class="tdRlCenter" th:text="${transport.seatNum}"></td>
            <td class="tdRlCenter" th:text="${transport.route}"></td>
            <td class="tdRlLeft">
                <a th:href="@{/transport/edit(id=${transport.transportDtoId}, type=${transportType.transportTypeDtoId})}">Изменить</a>
            </td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="columnList">
        <a th:href="@{/transport/add(type=${transportType.transportTypeDtoId})}">Добавить</a>
    </div>
    <div class="columnList">
        <a th:href="@{/dispatcher/route(type=${transportType.transportTypeDtoId})}">Маршруты</a>
    </div>
</div>
</body>
</html>